# Postgres Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=meetasr_db

# Chuỗi kết nối Database dùng cho Python/FastAPI
# Cú pháp: postgresql://[user]:[password]@[host]:[port]/[database]
DATABASE_URL=postgresql://admin:password123@postgres_db:5432/meetasr_db

# MinIO Storage (S3-compatible)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
